<h2 class="content-block">Pedidos</h2>

<div id="data-grid-demo">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="pedidos"
    (onInitNewRow)="onInitNewRowItemPedido($event)"
    (onRowInserting)="onRowInsertingPedido($event)"
    (onRowUpdating)="onRowUpdatingPedido($event)"
    (onRowRemoving)="onRowRemovingPedido($event)"
    [showBorders]="true"
  >
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true"
    >
      <dxo-popup
        title="Dados do Pedido"
        [showTitle]="true"
        [width]="1080"
        [height]="525"
      >
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="3" [colSpan]="2">
          <dxi-item dataField="id" [disabled]="true"></dxi-item>
          <dxi-item dataField="numero"></dxi-item>
          <dxi-item dataField="cliente"></dxi-item>
          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="itens" [colSpan]="2"></dxi-item>
          </dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="id"></dxi-column>
    <dxi-column dataField="numero"></dxi-column>
    <dxi-column dataField="dataPedido"> </dxi-column>
    <dxi-column dataField="cliente" editCellTemplate="clienteEditCellTemplate" cellTemplate="clienteCellTemplate"> </dxi-column>
    <dxi-column dataField="valorTotal" > </dxi-column>
    <dxi-column dataField="itens"  [visible]="false" editCellTemplate="itensEditCellTemplate"></dxi-column>

    <div *dxTemplate="let data of 'clienteCellTemplate'">{{data.value ? data.value.nome : 'não achou cliente'}}</div>

    <div *dxTemplate="let data of 'clienteEditCellTemplate'">
      <dx-select-box [items]="clientes"
                     [value]="data.value"
                     (valueChange)="clienteValueChange($event, data)"
                     [displayExpr]="mostraCodigoENomeCliente"
      ></dx-select-box>
    </div>

    <div *dxTemplate="let data of 'itensEditCellTemplate'">
      <dx-data-grid
        [dataSource]="data.value"
        (onSaving)="onSavingItensNoGrid($event, data)"
      >
        <dxo-editing
          mode="row"
          [allowAdding]="true"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [useIcons]="true">
        </dxo-editing>
        <dxi-column dataField="pedido" [allowEditing]="false"> </dxi-column>
        <dxi-column dataField="produto" editCellTemplate="produtoEditCellTemplate" caption="Produto" cellTemplate="produtoCellTemplate"> </dxi-column>
        <dxi-column dataField="quantidade"> </dxi-column>
        <dxi-column dataField="valorTotalItens" [allowEditing]="false"> </dxi-column>

        <div *dxTemplate="let data of 'produtoCellTemplate'">{{data.value ? data.value.descricao : 'não achou Produto'}}</div>

        <div *dxTemplate="let data of 'produtoEditCellTemplate'">
          <dx-select-box [items]="produtos"
                         (valueChange)="produtoValueChange($event, data)"
                         [displayExpr]="mostraCodigoENomeProduto"
          ></dx-select-box>
        </div>

      </dx-data-grid>
    </div>

  </dx-data-grid>
</div>

